@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: rgba(51, 65, 85, 1);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.light body{
  background-color: rgb(255, 255, 255);
}

.header {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 4rem;
  z-index: 20;
  color: rgba(148, 163, 184, 1);
  font-family: 'Kalam', cursive;
  font-size: 1.5rem;
}

.theme{
  font-size: 1rem;
  width: fit-content;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.theme:hover{
  background-color: rgba(30, 41, 59, 1);
}
.light .theme:hover{
  background-color: rgb(242, 244, 245);
}

.theme i{
  font-size: 0.8rem;
  margin-left: 10px;
  color: rgba(148, 163, 184, 1);
}

.main {
  display: flex;
  width: 96%;
  height: 96vh;
  margin: 0 auto;
}

.footer {
  display: flex;
  height: 4rem;
  align-items: center;
}

.display {
  background-image: 
    radial-gradient(at 40% 20%, rgb(255, 184, 122) 0px, transparent 50%),
    radial-gradient(at 80% 0%, rgb(31, 221, 255) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgb(255, 219, 222) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgb(255, 133, 173) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(255, 181, 138) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgb(107, 102, 255) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(255, 133, 167) 0px, transparent 50%);
  background-color: #ff0000;
  box-shadow: 0 0 #0000, 0 0 #0000, inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.75rem;
  flex: 1 1;
  margin-left: 0.75rem;
}

.blur {
  transition-duration: 0.5s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-transform,
    -webkit-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  flex: 1 1;
  height: 100%;
  display: flex;
  z-index: 20;
  position: relative;
}

.configure {
  flex-direction: column;
  max-width: 20rem;
  display: flex;
}

/* .btn {
  width: fit-content;
  padding: 10px;
  color: white;
  letter-spacing: 1px;
  background-color: rgb(145, 77, 233);
  outline: 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
}

.btn:hover {
  background-color: rgb(127, 40, 241);
} */

.color-box {
  display: inline-flex;
  align-items: center;
  background-color: rgba(30, 41, 59, 1);
  padding: 7px;
  border-radius: 8px;
  width: 100%;
  justify-content: space-between;
  text-transform: uppercase;
}

.light .color-box{
  background-color: rgb(242, 244, 245);
}

.color-boxes {
  display: inline-flex;
  align-items: center;
  background-color: rgba(51, 65, 85, 1);
  padding: 7px;
  border-radius: 8px;
  margin: 5px;
  justify-content: space-between;
}

.light .color-boxes{
  background-color: rgb(255, 255, 255);
}

.container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 14rem;
}
.container2 {
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 100%;
  margin: 10px;
  background-color: rgba(30, 41, 59, 1);
  padding: 6px;
  border-radius: 8px;
}

.light .container2{
  background-color: rgb(242, 244, 245);
}

.container h5 {
  width: 60px;
  font-size: 12px;
  color: rgba(148, 163, 184, 1);
  margin-right: 10px;
}

.color-name,
.color-names {
  font-size: small;
  color: rgba(226, 232, 240, 1);
}

.light .color-name,
.light .color-names {
  color: rgba(148, 163, 184, 1);
}

.icon {
  cursor: pointer;
  padding: 4px;
  color: #94a3b8;
}

.icons {
  cursor: pointer;
  padding: 4px;
  color: #94a3b8;
}

.icon:hover {
  background-color: rgba(51, 65, 85, 1);
  border-radius: 5px;
}
.light .icon:hover{
  background-color: rgb(255, 255, 255);
}

.icons:hover {
  background-color: rgba(71, 85, 105, 1);
  border-radius: 5px;
}
.light .icons:hover {
  background-color: rgb(242, 244, 245);
}

input[type="color" i] {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 5px;
  width: 26px;
  height: 26px;
  pointer-events: none;
  margin-right: 6px;
}
input[type="color" i]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
  padding: 0;
  pointer-events: none;
}
input[type="color" i]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 5px;
  padding: 0;
  pointer-events: none;
}

button {
  width: fit-content;
  padding: 10px;
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 0.7em;
  border: 0;
  background-color: transparent;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  z-index: 2;
  cursor: pointer;
 }

 .light button{
  color: rgba(148, 163, 184, 1);
 }
 
 button::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
     #488cfb,
     #29dbbc,
     #ddf505,
     #ff9f0e,
     #e440bb,
     #655adc,
     #488cfb
   );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
 }
 
 button:hover::after {
  animation-play-state: running;
 }
 
 @keyframes rotate-hue {
  to {
   filter: hue-rotate(1turn);
  }
 }
 
 button,
 button::after {
  box-sizing: border-box;
 }
 
 button:active {
  --border-width: 5px;
 }

 .popup{
  width: 40rem;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
  border-radius: 10px;
  background-color: rgba(51, 65, 85, 1);
  padding: 1rem;
  padding-top: 2rem;
  z-index: 99;
  display: none;
  transition: all 0.3 ease;
}

.light .popup{
  background-color: rgb(242, 244, 245);
}

.show{
  display: block;
}

.code{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: black;
  position: relative;
  padding: 1rem;
  color: white;
  font-size: small;
  line-height: 1.5rem;
 }

 .light .code{
  background-color: rgb(255, 255, 255);
  color: gray;
 }

.copy{
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  padding: 8px;
  color: #94a3b8;
  position: absolute;
  top: 0px;
  left: 32rem;
  z-index: 99;
  display: flex;
  align-items: center;
  gap: 8px;
}

.light .copy{
  color: rgba(148, 163, 184, 1);
}

.copy span{
  font-size: 0.9rem;
}

/* Customize the label (the checkbox-btn) */
.checkbox-btn {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-btn label {
  cursor: pointer;
  font-size: 14px;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2.5px solid rgba(148, 163, 184, 1);
  transition: .2s linear;
}

.checkbox-btn input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  top: 40%;
  width: 10px;
  height: 14px;
  border: 2px solid #0ea021;
  filter: drop-shadow(0px 0px 10px #0ea021);
  border-width: 0 2.5px 2.5px 0;
  transition: .2s linear;
  transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
}

/* Show the checkmark when checked */
.checkbox-btn input:checked ~ .checkmark:after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  animation: pulse 1s ease-in;
}

.checkbox-btn input:checked ~ .checkmark {
  transform: rotate(45deg);
  border: none;
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
  }
}

